@media screen and (max-width: 430px)  {
    .back5 , .back3 , .back4 , .back2, .back{
    display: none;
    }

    h1 {
        font-size: 300%;
        line-height: 90%;
        margin-top: 20%;
    }
    .horse {
        width: 60%;
        height: 30%;
    }

    .pictures {
        width: 20%;
    }

    h2 {
        font-size: 200%;
    }

    footer {
        height: 80%;
    }
}

@media screen and (min-width: 431px) and (max-width: 768px){
    .back5 , .back3 , .back4 , .back2, .back{
        display: none;
        }
        h1 {
            font-size: 500%;
            line-height: 90%;
        }

        footer{
            height: 50%;
        }
}

@media screen and (min-width: 769px) and (max-width: 1024px)  {
    .back5 , .back3 , .back4 , .back2, .back{
        display: none;
        }
        footer{
            height:50%;
        }

}

@media screen and (min-width: 1441px) and (max-width: 1920px){
    footer{
        height: 100%;
    }
}


@media screen and (min-width: 1921px)  {
    footer{
        height: 100%;
    }
}